<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SecretNest.Web.Proxy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6"/>
    <httpRuntime/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="short" stopProcessing="true">
          <match url="(.*)"/>
          <action type="Rewrite" url="/Proxy.ashx?originalrequestaddress={R:1}"/>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <applicationSettings>
    <SecretNest.Web.Proxy.Properties.Settings>
      <setting name="AddressFormat" serializeAs="String">
        <value>http://www.google.com/{0}</value>
      </setting>
      <setting name="AddressKey" serializeAs="String">
        <value>originalrequestaddress</value>
      </setting>
      <setting name="ClientCertificateSubjectName" serializeAs="String">
        <value />
      </setting>
      <setting name="UseMachineStore" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ThreadLimit" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="CopyHeadersFromRequest" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>Cookie</string>
          </ArrayOfString>
        </value>
      </setting>
    </SecretNest.Web.Proxy.Properties.Settings>
  </applicationSettings>
</configuration>